.MainNav {
    background-color: #222;
  }
  .MainNav__wrapper {
    max-width: 1250px;
    margin: 0px auto;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  
 
  
  .MainNav__link {
    color: #fff;
    padding: 0px 15px;
    text-decoration: none;
    cursor: pointer;
  }