.nav {
    display: block;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #000;
    font-size: 14px;
    max-height: 44px;
    min-width: 1024px;
}

.nav__links-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 1024px;
    max-width: 980px;
    max-height: 44px;
    margin: 0 auto;    
}

.nav__links {    
padding: 0 22px;
}

.subNav {
    display: block;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #141414;
    font-size: 14px;
    padding: 12px 0;
    max-height: 86px;
    min-width: 1024px;
}