.nav {
    display: block;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #333;
    font-size: 14px;
    max-height: 60px;
    min-width: 1024px;
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 1024px;
    max-width: 980px;
    max-height: 80px;
    margin: 0 auto;
}

.nav-links {
    padding: 0 22px;
    min-height: 32px;
}

.dark {
    background-color: #222;
    color: black;
}

.light {
    background:rgba(242,242,242,0.7);
    color: black;
}

.subNav {
    display: block;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 12px;
    max-height: 100px;
    min-width: 1024px;
}

.nav-links-item{
    margin-bottom: 10px;
}