.Nav {
    background-color: #333333;
    height: 50px;
    display: flex;
    align-content: center;
}

.Nav__ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto auto;
    color: white;
}

.NavLink {
    color: white;
    text-decoration: none;
}