.nav-container {
    margin: 0 auto;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    max-width: 960px;
    margin: 0 auto;
}

.main-nav .selected {
    color: #B3B3B3;
}

.main-nav a {
    text-decoration: none;
    color: white;
    padding: 14px 0;
}

.main-nav a:hover {
    color: #B3B3B3;
    transition: color 0.5s;
}

.subnav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #141414;
    color: white;
    max-width: 960px;
    margin: 0 auto;
    font-size: 12px;
}

.subnav a {
    text-decoration: none;
    color: white;
    padding: 14px 0;
}