.nav-container {
    margin: 0 auto;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    max-width: 960px;
    margin: 0 auto;
}

.main-nav .selected {
    color: #B3B3B3;
}

.main-nav a {
    text-decoration: none;
    color: white;
    padding: 14px 0;
    font-size: 14px;
}

.main-nav a:hover {
    color: #B3B3B3;
    transition: color 0.5s;
}

.main-nav .icon {
    font-size: 24px;
}

.subnav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #141414;
    color: white;
    max-width: 960px;
    margin: 0 auto;
    font-size: 12px;
}

.subnav a {
    text-decoration: none;
    color: white;
    padding: 0;
    display: block;
}

.subnav a:hover {
    color: #579CD3;
}

.subnav .subnavElement .selected {
    color: #579CD3;
}

.subnavElement {
    width: 70px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    text-align: center;
}