.productCard{
width:70%;
margin-left:15%;
align-items:center;
margin-top:100px;
display:flex;
flex-direction:column;
}

.flex{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	width:25%;
}

.title{
	font-size:60px;
	font-weight:700;
	margin-bottom:10px;
}

.subText{
	font-weight:500;
	font-size:36px;
	margin-bottom:10px;
}

.productCard img {
	width:100%;
}

.productCard .tall {
	width:50%;
}