.item{
display:flex;
justify-content:space-around;
width:100%;
align-items:center;
margin-top:15px;
padding-bottom:5px;
border-bottom:1px solid white;
}

.color{
background:#d1d1e0;
}

.overAll{
	margin-left:15%;
	width:70%;
	display:flex;
}

.overAll img{
width:100%;
}

.image{
	max-width:300px;
}

.price{
	margin-bottom:10px;
}

.add {
	display:flex;
	justify-content:center;
	color:white;
	background:blue;
	border-radius:5px;
}

.add:hover{
	cursor:pointer;
	background:red;
}