.submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
    background-color: #141414;
    font-size: 1.5rem;
    text-decoration: none;
}

.submenu Link {
    text-decoration: none;
}