.nav-bar {
  display: flex;
  justify-self: flex-start;
  background: black;
  height: 50px;
}
a {
  margin: auto;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
a:hover {
  color: lightgray;
  transition: 0.3s;
}

.logo {
  margin: 8px auto;
  width: 30px;
  height: 30px;
}
