.nav-bar {
  display: flex;
  justify-items: space-around;
  background: black;
  height: 50px;
  width: 70%;
  margin: auto;
}
a {
  margin: auto 0;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
a:hover {
  color: lightgray;
  transition: 0.3s;
}

.logo {
  margin: 8px auto;
  width: 30px;
  height: 30px;
}
