.subNavContainer {
  background: #141414;
  color: white;
  height: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subNavWrap {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.icons {
  height: 3rem;
}
.itemContainer {
  margin: 0 1.2rem;
}
