.series-3 {
    width: 25px;
    height: 54px;
}

.nike {
    width: 25px;
    height: 54px;
}

.hermes {
    width: 37px;
    height: 54px;
}

.watch-edition {
    width: 25px;
    height: 54px;
}

.series-1 {
    width: 25px;
    height: 54px;
}

.watchos {
    width: 44px;
    height: 54px;
    background-size: 44px 54px;
}

.bands {
    width: 17px;
    height: 54px;
}

.accessories {
    width: 52px;
    height: 54px;
}

.compare {
    width: 71px;
    height: 54px;
}