.ReacPage__IReacPro {
	width: 100%;
	background-color: #1A1A1A;
}

.ReacPage__IReacPro__text {
	color: white;
}

.LinkContainer {
	display: inline;
}

.Link {
	display: inline;
	color: #00bfff;
	text-decoration: none
}

.Link:hover {
	text-decoration: underline;
}

.Link--carot {
	display: inline;
	color: #00bfff;
}
