.App {
  text-align: center;
}

.Nav-link {
  padding: 0 2rem;
  color: rgb(160, 160, 160);
  font-size: .85rem
}

.Nav-item {
  padding: .5rem 0 .25rem 0;
  background-color: black;
}

.nav-link--active {
  font-weight: 700;
  color: rgb(102, 102, 102);
}