.subNavBar {
  background-color: rgb(32, 31, 31);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 19% 20px;
  color: rgba(255, 255, 255, 0);
  margin: 0;
}


.New {
  margin-top: 10px;
}

.subMenuIcons {
  width: 75px;
  height: 75px;
}

.links {
  color: white;
  font-weight: normal;
}

.pStyle {
  margin: 0;
  font-size: 11px;
  font-weight: bold;
  color: white;
}

.pStyle-orange {
  margin: 0;
  font-size: 9px;
  font-weight: bold;
  color: orangered;
}

.MacContainer {
  height: 850px;
  background: linear-gradient(to bottom right, red, yellow);
}

.MacImage {
  width: 50%;

}

.Mach1 {
  padding: 30px 0 0;
  font-size: 100px;
  color: white;
  margin: 0;
}

.Mach2 {
  font-size: 35px;
  color: white;
  margin: 0;
  padding-bottom: 10px;
}

.Mach3 {
  font-size: 20px;
  color: white;
  margin: 0;
}