.NavBar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15%;
  color: rgba(255, 255, 255, 0);
  margin: 0;
}

.AppleIcon {
  width: 20px;
  height: 25px;
}

.MenuIcons {
  width: 25px;
  height: 25px;
}

.links {
  font-size: 14px;
  color: white;
  margin: 0;
  font-weight: normal;
}

.NavStyle {
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
