.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar a{
  color: white;
} 



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;

}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(53, 53, 53);
  padding: 20px;

}
.subLinks {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  width: 80%;
  margin:0 auto;

}



.nav-links a {
  text-decoration: none;
  
  color: white;
  font-weight: bold;
  margin-right: 8px;
}
.subLinks a {
  color: black;
}
.nav-links a:last-of-type {
  margin-right: 0;
}

.headLinks a.active {
  color: rgb(160, 160, 160);
}
.subTab{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
.subTab img{
  height: 55px;
}
#Mac, #TV {
  background: black;
}
#Mac a, #TV a{
  color: white;
}