.App {
  text-align: center;
  background: #282c34;
  height: 100vh;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header-wrapper {
  width: 100%;
  z-index: 3;
  height: 200px;
  background: black;
  display: flex;
  flex-direction: column;
}

.top-header {
  display: flex;
  justify-content: space-around;
}
.sub-header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: gray;
}
a:visited {
  color: gray;
}

.active {
  text-decoration: underline;
}

.main-content {
  margin-top: 100px;
  color: lightgray;
}