body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 60%;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.navWrapper-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 2%;
  background-color: #333333;
  color: white;
}

.mac-pro {
  font-weight: 900;
}

.subNav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2%;
  background-color: #2D2D2D;
  color: white;
  font-size: 1.6rem;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 50px;
}

.icon .fas {
  font-size: 4rem;
}