.sub-menu {
  display: flex;
  justify-content: space-around;
  background: #5a5a5a;
  height: 100px;
  flex-wrap: wrap;
}

.sub-menu-item {
  display: flex;
  align-items: center;

  height: 80px;
  width: 80px;
  padding: 8px;
  margin: 4px;
}

.sub-menu-selected {
  background: #666666;
  border: black 1px solid;
}

.sub-menu-link {
  text-decoration: none;
  color: white;
}
