.category {
  /* border: 1px solid pink;
  background: gray; */
  color: white;
  font-size: 1rem;
  font-weight: 100;
  margin: 0 2rem;
}

.InnerWrapper {
  /* border: 2px solid green; */
  width: 7rem;
}
