.NavHeader {
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.Nav {
    width: 80%;
    color: #CCCCCC;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.fontControl {
    font-family: "FontAwesome";
}

.navLink {
    color: #FFF;
    text-decoration: none;
}